*, *:before, *:after{
    box-sizing: border-box;
    // outline: solid 1px grey; /*檢查用，繳交前需清掉*/
}
body {
    font-family: "Noto Sans TC", Roboto, sans-serif;
    line-height: 1.5;
}
img {
    max-width: 100%;
    height: auto;
    display: block;
    vertical-align: middle;
}
a {
    text-decoration: none;
    color: inherit;
}
h1, .h1 {
    font-size: 64px;
    color: $maroon;
}
h2, .h2 {
    font-size: 48px;
}
h3, .h3 {
    font-size: 36px;
}
.fs-14{
    font-size: 14px;
}
.fs-16{
    font-size: 16px;
}
.fs-20{
    font-size: 20px;
}

/* containers */
.container{
    max-width: 1296px;
    margin: 0 auto;
}
.header-nav{
    width: 39.506%;
}

// .banner-description, .about-card-box, .project-album-text{
//     width: 39.75rem;
// }
// .introduction-description, .contact-icon-list{
//     width: 32.875rem;
// }
// .about-card-box{
//     height: 20.25rem;
// }
// .about-card{
//     width: 19.125rem;
//     height: 9.25rem;
//     padding: 1rem;
// }
// .about-description{
//     width: 32.875rem;
// }
// .project-title{
//     width: 46.625rem;
// }
// .project-album-list{
//     width: 53.5rem;
// }
// .project-album-description{
//     height: 12.25rem;
// }


/* text */
.text-end{
    text-align: right;
}
.text-center{
    text-align: center;
}
.text-dark{
    color: $secondary;
}