<div class="container d-flex justify-content-between">
    <img src="../assets/images/logo-white.png" alt="">
    <ul class="header-nav ">
        <li><a href="">系列鏡框</a></li>
        <li><a href="">門市據點</a></li>
        <li><a href="">部落格</a></li>
        <li><a href="">部落格</a></li>
    </ul>
</div>




<!-- <h1 class="header">我是 header</h1>
<a href="index.html">index</a>
<a href="about.html">about</a>
<a href="contact.html">contact</a> -->