<div class="header bg-red py-4">
    <div class="container d-flex justify-content-between align-items-center">
        <a href="index.html" target="_self" class="col-1 header-logo">
            <img src="../assets/images/logo-white.png" alt="logo">
        </a>
        <ul class="header-nav d-flex justify-content-between fs-20">
            <li><a href="">系列鏡框</a></li>
            <li><a href="">門市據點</a></li>
            <li><a href="">部落格</a></li>
            <li><a href="">常見問題</a></li>
        </ul>
    </div>
</div>


