.header{
  &-logo{
    img{
      max-width: 100%;
      height: auto;
      vertical-align: middle;
    }
  }
  &-nav{
    a{
      padding: 10% 0;
      &:hover{
      color: $gold;
      }
    }
  }
}
@media(max-width: 375px){
  .header-nav{
    display: flex;
    flex-wrap: wrap;
    max-width: 100%;
  }
}