.header{
  &-logo{
    img{
      max-width: 100%;
      height: auto;
      vertical-align: middle;
    }
  }
  &-nav{
    a{
      padding: 10% 0;
      &:hover{
      background: $primary;
      color: $secondary;
      }
    }
  }
}
@media(max-width: 767px){
  .header{
    &-logo{
      img{
        width: 100%;
      }
    }
  }
}